/*--azzerati margin,padding,box-sizing--*/
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}


.debug{
   max-width: 1680px;
      
}


/*--container header--*/
#header-style
{
   background-color: aqua;
   height:60px;
   padding:15px 0;

.nav-flex{
    display: flex;
    justify-content: space-between;
    height: 60%;
    background-color: orange;
    align-items: center;
}

}



   




/*-- banner e testo banner*/
.immagine-sfondo{
   background-color: burlywood;
}


.banner-rectangle{
   display: flex;
   justify-content: center;
  
}


.testo-rectangle{
   width: 100px;
   height:250px;
   width: 400px;
   margin-top: 25px;
   margin-bottom: 25px;
   background-color: orange;
  
  
}


/*-- container immagini e testo--*/




.container {
 max-width: 800px;
 margin:0 auto;
 padding-top:15px;
 padding-bottom:15px;
 
}

.d-flex{
    display:flex;
    
}

.row-reverse{
    flex-direction: row-reverse;
}




.square-1{
  background-color: blue;
  width: 60%;
  height: 250px;
}


.square-2{
  background-color: pink;
  width: 40%;
  height: 250px;
}





/*-- end container--*/
