/*--azzerati margin,padding,box-sizing--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.header-color {
    background-color: #265ee8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*--#region header--*/

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

.link {
    margin-right: 40px;
    margin-left: 40px;
    color: white;
    font-size: 20px;
}

.accedi {
    height: 45px;
    width: 85px;
    border-radius: 30px;
    border-style: none;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;

}

/*--#endregion header--*/


/*-- #region banner and text banner*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/jumbo.png);
    width: 100%;
    height: 700px;
    background-size: cover;


}

.container-small {
    height: 300px;
    width: 800px;
    text-align: center;
    color: white;
}

#scarica {
    border-style: none;
    height: 60px;
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 23px;
}

#apri {
    border-style: none;
    height: 60px;
    width: 330px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #23272a;
    color: white;
    font-size: 23px;
}

/*-- #endregion banner and text banner*/


/*--region section frog-magician-alien-bunny--*/

.container,
.containerd-flex {
    max-width: 1200px;
    margin: 0 auto;
    gap: 200px;
}

.d-flex {
    display: flex;

}

.row-reverse {
    flex-direction: row-reverse;
}

.square-1 {
    width: 60%;
    height: 445px;
}

.square-2 {
    width: 80%;
    height: 445px;
}

#frog {
    padding-top: 50px;
    padding-bottom: 50px
}

#magician {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px
}

#alien {
    padding-top: 50px;
    padding-bottom: 50px
}

#bunny {
    background-color: #f6f6f6;
    height: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.container-bg {
    height: 95%;
    width: 100%;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#scarica-2 {
    border-style: none;
    height: 60px;
    width: 250px;
    margin-top: 40px;
    border-radius: 30px;
    background-color: #8ea1e1;
    color: white;
    font-size: 23px;
}


/*--#endregion section frog-magician-alien-bunny--*/


/*--section bonus--*/

#bonus {
    background-color: #23272a;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-bonus {
    background-color: #23272a;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

.b-flex {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;


}

.stretch-1 {

    width: 50%;
    height: 500px;
    padding-right: 30px;


}

.stretch-2 {

    width: 30%;
    height: 100%;
    font-size: 20px;
    color: white;
    font-weight: bold;

}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registrati {
    border-style: none;
    height: 45px;
    width: 125px;
    margin-top: 40px;
    border-radius: 30px;
    background-color: #8ea1e1;
    color: white;
    font-size: 23px;
}

.onde {
    width: 100%;
    background-color: #f6f6f6;

}

/*--section bonus--*/